<!DOCTYPE html>
<html lang="EN">
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Audio and Video | Digital Learning Techniques</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href='../static/css/tool.css'>
    <script src="
    https://cdn.jsdelivr.net/npm/@splidejs/splide@4.1.4/dist/js/splide.min.js
    "></script>
    <link href="
    https://cdn.jsdelivr.net/npm/@splidejs/splide@4.1.4/dist/css/splide.min.css
    " rel="stylesheet">    

</head>
<body>
    <div class="navbar-box">
        <div class="navbar-pages">
            <div><a href="/">Why Tools Work</a></div>
            <div><a href="../tools" style="text-decoration: underline;">Tools</a></div>
            <div><a href="../about">About Us</a></div>
    </div>
    </div>
    <div class="columns">
        <div class="text-content">
            <div><h1 class="header-innovative">Audio and Video</h1></div>
            <p class="short-desc">Audiovisual tools are a powerful way for teachers to create engaging and interactive learning experiences for their students. By incorporating videos, animations, and other multimedia elements into their lessons, teachers can help students visualise the studied concept. 
<br><br>
                Use of audiovisual tools can also help to improve student engagement and retention, as students are more likely to remember information that they have seen and heard in action. Additionally, it can be used to promote creativity and critical thinking skills, as students are encouraged to think about how to effectively communicate ideas through different media.
                 
            </p>
            
            
        </div>
        <div class="image1">
            <h3>Tools we recommend:</h3>

        </div>
        <div class="toolslider">
            <div class="splide" role="group" aria-label="Splide Basic HTML Example">
                <div class="splide__track">
                      <ul class="splide__list">
                          <li class="splide__slide">
                            <a class="example-tool" id="example-tool" onclick="openModal('yt')"><img alt="cheese" src="https://static.vecteezy.com/system/resources/previews/018/930/575/original/youtube-logo-youtube-icon-transparent-free-png.png"></a>
                        </li>
                          <li class="splide__slide">
                            <a class="example-tool" id="example-tool" onclick="openModal('garage')"><img alt="cheese" src="https://upload.wikimedia.org/wikipedia/en/f/f7/GarageBand_App.png"></a>
                        </li>
                          <li class="splide__slide">
                            <a class="example-tool" id="example-tool" onclick="openModal('edpuzzle')"><img alt="cheese" src="https://edpuzzle.imgix.net/edpuzzle-logos/vertical-logo.png"></a>
                        </li>
                        <li class="splide__slide">
                            <a class="example-tool" id="example-tool" onclick="openModal('ted')"><img alt="cheese" src="https://ed.ted.com/teded-logo-600-600.png"></a>
                        </li>
                      </ul>
                </div>
              </div>
            
        </div>
    </div>
    <div class="modals">
        <div class='modal' id="modalyt">
            <div class="modal-content">
                <div style="display: flex; flex-direction: column;">

                <div>
                    <h2><a class="modal-link" href="https://www.youtube.com/" target=”_blank”>YouTube</a></h2>
                    <p>YouTube is a video sharing site where users can upload or watch videos. The website also features many educational channels about a wide variety of subjects, such as Khan Academy, Vsauce, and Numberphile that make learning fun, easy, and accessible. 
                    </p>
                    <a class="modal-link-small" href="https://www.youtube.com/" target=”_blank”>YouTube - Link</a>
                </div>
                <img src="https://www.homeschoolof1.com/wp-content/uploads/2018/10/ted-ed.jpg" style="width: 60%; margin-top: 20px; margin-bottom: 20px;">
            </div>

                <button onclick="closeModal()" class="closebtn">Close</button>
            </div>
        </div>
        <div class='modal' id="modalgarage">
            <div class="modal-content">
                <div style="display: flex; flex-direction: column;">

                <div>
                    <h2><a class="modal-link" href="https://en.wikipedia.org/wiki/GarageBand" target=”_blank”>Garageband</a></h2>
                    <p>Garageband for Mac offers an intuitive method to start recording, editing, and producing your own music. The application uses a wide variety of instruments, teaching children how each one sounds and how each could be applied. Built-in tutorials can be used to learn music theory and playing different types of instruments. 
 
                    </p>
                    <a class="modal-link-small" href="https://en.wikipedia.org/wiki/GarageBand" target=”_blank”>Garageband - Link</a>
                </div>
                <img src="https://help.apple.com/assets/626AF5180443DA5E80375464/626AF5190443DA5E8037546C/en_GB/37debc106b672a371b359328ecca0414.png" style="width: 60%; margin-top: 20px; margin-bottom: 20px;">
 
                </div>
                <button onclick="closeModal()" class="closebtn">Close</button>
            </div>
        </div>
        <div class='modal' id="modaledpuzzle">
            <div class="modal-content">
                <div style="display: flex; flex-direction: column;">

                <div>
                    <h2><a class="modal-link" href="https://edpuzzle.com/" target=”_blank”>Edpuzzle</a></h2>
                    <p>Edpuzzle is a platform for turning any video into a lesson. Teachers can use videos from YouTube, other teachers in the community, or their own, to easily incorporate it with their own questions or audio to create a lesson for their students. With Edpuzzle, the teacher has an option to use the made material live in the classroom or assign it to the students and get analytics such as who watched the video, who didn't understand the lesson, and who did a good job. 
                    </p>
                    <a class="modal-link-small" href="https://edpuzzle.com/" target=”_blank”>Edpuzzle - Link</a>
                </div>
                <img src="https://lh3.googleusercontent.com/0CWw5rr6kpMfmpH8KFqbiod9ah0lc6vDRjseBqLSA1n2MXPp4-2GCfSoptxl-pRHjmSWjvnX26CT51Am2QdrQ3coGCAM-0cX2_gR-ZCR21CsnfjBW91PlTwQabGOl0P-1qoZ1Unj" style="width: 60%; margin-top: 20px; margin-bottom: 20px;">

                </div>
                <button onclick="closeModal()" class="closebtn">Close</button>
            </div>
        </div>
        <div class='modal' id="modalted">
            <div class="modal-content">
                <div style="display: flex; flex-direction: column;">

                <div>
                    <h2><a class="modal-link" href="https://ed.ted.com/" target=”_blank”>Ted-Ed</a></h2>
                    <p>TED-Ed is an educational platform that features a wide range of educational videos on various topics, including science, history, and literature. The platform offers animated and live-action videos that are designed to engage students and provide a fun and interactive way to learn. TED-Ed also features a variety of tools and resources, including quizzes, discussion questions, and suggested readings, to help teachers and students dive deeper into the topics covered in the videos. In addition to the pre-made videos, TED-Ed also offers a platform for teachers to create and share their own customised lessons based on the videos, making it a valuable resource for educators. 
                    </p>
                    <a class="modal-link-small" href="https://ed.ted.com/" target=”_blank”>Ted-Ed - Link</a>
                </div>
                <img src="https://www.besafe.net/wp-content/uploads/2020/02/ted-talks-on-education-pic-scaled.jpg">
                </div>
            
                <button onclick="closeModal()" class="closebtn">Close</button>
            </div>
        </div>
    </div>
</body>
<script src="{{url_for('static', filename='script/modals.js')}}"></script>
<script>

    var splide = new Splide( '.splide', {
        perPage: 3,
        rewind : true,
        padding: 20,
        gap: '20px',
        autoWidth: true,
        autoHeight: true,
    } );

    splide.mount();  
</script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.0/jquery.min.js"></script>
<script type=text/javascript>
        $(function() {
          $('a#example-tool').bind('click', function() {
            $.getJSON('/log_binary_av',
                function(data) {
              //do nothing
            });
        return false;
      });
    });
</script>
</html>