<!DOCTYPE html>
<html lang="EN">
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Presentation | Digital Learning Techniques</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href='../static/css/tool.css'>
    <script src="
    https://cdn.jsdelivr.net/npm/@splidejs/splide@4.1.4/dist/js/splide.min.js
    "></script>
    <link href="
    https://cdn.jsdelivr.net/npm/@splidejs/splide@4.1.4/dist/css/splide.min.css
    " rel="stylesheet">    

</head>
<body>
    <div class="navbar-box">
        <div class="navbar-pages">
            <div><a href="/">Why Tools Work</a></div>
            <div><a href="../tools" style="text-decoration: underline;">Tools</a></div>
            <div><a href="../about">About Us</a></div>
        </div>
    </div>
    <div class="columns">
        <div class="text-content">
            <div><h1 class="header-innovative">Presentation</h1></div>
            <p class="short-desc">One of the ways to create a presentation is to use slideshows. Slideshows are a powerful technique for teachers to communicate teaching material in an organised and visually appealing way. They help to improve retention and understanding of information by making it more memorable and engaging. Not only that but by allowing students to create their own presentations, students can develop critical thinking, problem-solving skills, enhance communication, public speaking abilities, and promote creativity and innovation. 
            </p>
            
            
        </div>
        <div class="image1">
            <h3>Tools we recommend:</h3>
            
        </div>
        <div class="toolslider">
            <div class="splide" role="group" aria-label="Splide Basic HTML Example">
                <div class="splide__track">
                      <ul class="splide__list">
                          <li class="splide__slide">
                            <a id="example-tool" class="example-tool" onclick="openModal('ppt')"><img alt="cheese" src="https://www.logo.wine/a/logo/Microsoft_PowerPoint/Microsoft_PowerPoint-Logo.wine.svg"></a>
                        </li>
                          <li class="splide__slide">
                            <a id="example-tool" class="example-tool" onclick="openModal('canva')"><img alt="cheese" src="https://www.bookmarks.design/media/image/canva-logo-maker.jpg"></a>
                        </li>
                          <li class="splide__slide">
                            <a id="example-tool" class="example-tool" onclick="openModal('prezi')"><img alt="cheese" src="https://assets.prezicdn.net/assets-versioned/coverservice-versioned/3624-0d86795/common/img/prezi-logo-for-share.png"></a>
                        </li>
                        
                      </ul>
                </div>
              </div>
            
        </div>
    </div>
    <div class="modals">
        <div class='modal' id="modalppt">
            <div class="modal-content">
                <div style="display: flex; flex-direction: column;">

                <div>
                    <h2><a class="modal-link" href="https://isitchristmas.com/" target=”_blank”>Powerpoint</a></h2>
                    <p>PowerPoint is a presentation software that allows users to create slideshows for a variety of purposes. With PowerPoint, users can add text, images, videos, charts, graphs, and animations to their presentations. The software features design templates and themes to create professional-looking presentations with minimal effort. PowerPoint is widely used by educators and business professionals for presentations.</p>
                    <a class="modal-link-small" href="https://isitchristmas.com/" target=”_blank”>Powerpoint - Link</a>
                </div>
                <img src="https://lh3.googleusercontent.com/peLhX_QQgqnGfkaBqunIrm2IJk-YjBXsempBabmm8MtcL5aG4GE-16VJOzyOqOcHzaPoiV3g-nGPlsMvxk3NcflLAw=w640-h400-e365-rj-sc0x00ffffff">
                </div>

                <button onclick="closeModal('ppt')" class="closebtn">Close</button>
            </div>
        </div>
        <div class='modal' id="modalcanva">
            <div class="modal-content">
                <div style="display: flex; flex-direction: column;">

                <div>
                    <h2><a class="modal-link" href="https://canva.com/" target=”_blank”>Canva</a></h2>
                    <p>Canva is a popular graphic design platform that allows users to create a wide range of visual content, including presentations, posters, social media graphics, and more. With Canva, users can choose from a vast library of templates, images, and design elements to create stunning visuals for various purposes. The platform makes it easy for users to customize their designs and create high-quality visuals without any prior design experience. Canva is a versatile tool that can be used by educators, students, and professionals to create engaging and visually appealing content for their audiences. 
                    </p>
                    <a class="modal-link-small" href="https://canva.com/" target=”_blank”>Canva - Link</a>
                </div>
                <img src="https://techcrunch.com/wp-content/uploads/2022/09/Drag-Drop.png">
                </div>
                <button onclick="closeModal('canva')" class="closebtn">Close</button>
            </div>
        </div>
        <div class='modal' id="modalprezi">
            <div class="modal-content">
                <div style="display: flex; flex-direction: column;">

                <div>
                    <h2><a class="modal-link" href="https://prezi.com/" target=”_blank”>Prezi</a></h2>
                    <p>Prezi is a presentation software that offers a unique and dynamic approach to creating visual content. Unlike traditional slideshow presentation tools, Prezi allows users to create non-linear, zoomable presentations that can be customized with a variety of multimedia elements, including images, videos, and animations. Prezi's intuitive interface and customizable templates make it easy for users to create high-quality presentations without any prior design experience. Overall, Prezi is a powerful tool for educators, business professionals, and creatives.</p>
                    <a class="modal-link-small" href="https://prezi.com/" target=”_blank”>Prezi - Link</a>
                </div>
                <img src="https://support.prezi.com/hc/article_attachments/360100960994/Screenshot_2021-02-01_at_12.33.17.png">
                </div>
                <button onclick="closeModal('prezi')" class="closebtn">Close</button>
            </div>
        </div>
    </div>
</body>
<script src="{{url_for('static', filename='script/modals.js')}}"></script>
<script>

    var splide = new Splide( '.splide', {
        perPage: 3,
        rewind : true,
        padding: 20,
        gap: '20px',
        autoWidth: true,
        autoHeight: true,
    } );

    splide.mount();  
</script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.0/jquery.min.js"></script>
<script type=text/javascript>
        $(function() {
          $('a#example-tool').bind('click', function() {
            $.getJSON('/log_binary_present',
                function(data) {
              //do nothing
            });
        return false;
      });
    });
</script>
</html>