<!DOCTYPE html>
<html lang="EN">
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Quizzes and Polling | Digital Learning Techniques</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href='../static/css/tool.css'>
    <script src="
    https://cdn.jsdelivr.net/npm/@splidejs/splide@4.1.4/dist/js/splide.min.js
    "></script>
    <link href="
    https://cdn.jsdelivr.net/npm/@splidejs/splide@4.1.4/dist/css/splide.min.css
    " rel="stylesheet">    

</head>
<body>
    <div class="navbar-box">
        <div class="navbar-pages">
            <div><a href="/">Why Tools Work</a></div>
            <div><a href="../tools" style="text-decoration: underline;">Tools</a></div>
            <div><a href="../about">About Us</a></div>
        </div>
    </div>
    <div class="columns">
        <div class="text-content">
            <div><h1 class="header-innovative">Quizzes and Polling</h1></div>
            <p class="short-desc">
                Digital polling is a versatile and effective educational technique that allows teachers to collect instant feedback from their students. It allows teachers to quickly assess student comprehension or gain their opinions during a brainstorm.
<br><br>
Similarly to other techniques, digital polling can promote critical thinking and problem-solving skills, as students are required to analyse information and make informed decisions. Digital polling can also be used to promote collaboration and teamwork, as students can work together to answer questions and solve problems. 


            </p>
            
            
        </div>
        <div class="image1">
            <h3>Tools we recommend:</h3>

        </div>
        <div class="toolslider">
            <div class="splide" role="group" aria-label="Splide Basic HTML Example">
                <div class="splide__track">
                      <ul class="splide__list">
                          <li class="splide__slide">
                            <a id="example-tool" class="example-tool" onclick="openModal('menti')"><img alt="cheese" src="https://yt3.googleusercontent.com/ytc/AL5GRJV4ChPZFE8YmuWuKqI02K9G4zXCChS8RV0YKEJwmA=s900-c-k-c0x00ffffff-no-rj"></a>
                        </li>
                          <li class="splide__slide">
                            <a id="example-tool" class="example-tool" onclick="openModal('kahoot')"><img alt="cheese" src="https://static.vecteezy.com/ti/gratis-vector/p3/18970044-kahoot-logo-symbool-redactioneel-gratis-vector.jpg"></a>
                        </li>
                          <li class="splide__slide">
                            <a id="example-tool" class="example-tool" onclick="openModal('quiz')"><img alt="cheese" src="https://images.yourstory.com/cs/images/companies/Quizizz-1589544658023.png"></a>
                        </li>
                        
                      </ul>
                </div>
              </div>
            
        </div>
    </div>
    <div class="modals">
        <div class='modal' id="modalmenti">
            <div class="modal-content">
                <div style="display: flex; flex-direction: column;">

                <div>
                    <h2><a class="modal-link" href="https://menti.com/" target=”_blank”>Mentimeter</a></h2>
                    <p>Mentimeter offers multiple innovative methods for students to feel more connected to what is being taught, such as dynamic word clouds to increase student engagement or classroom quizzes to test their knowledge.

                    </p>
                    <a class="modal-link-small" href="https://menti.com/" target=”_blank”>Mentimeter - Link</a>
                </div>
                <img src="https://pub.mdpi-res.com/education/education-11-00667/article_deploy/html/images/education-11-00667-g001.png?1634809508">
                </div>
                <button onclick="closeModal()" class="closebtn">Close</button>
            </div>
        </div>
        <div class='modal' id="modalkahoot">
            <div class="modal-content">
                <div style="display: flex; flex-direction: column;">

                <div>
                    <h2><a class="modal-link" href="https://kahoot.com/" target=”_blank”>Kahoot</a></h2>
                    <p>Kahoot is used to create multiple choice quizzes and play them in a group setting. Anyone with a smartphone or a computer can join. The player with the fastest and most correct answers will be on the top of the leaderboard.
                    </p>
                    <a class="modal-link-small" href="https://kahoot.com/" target=”_blank”>Kahoot - Link</a>
                </div>
                <img src="https://marketplacecontent.zoom.us/%2Fc7frlTRpTyeU93uyoHImZA%2FsSsQhyvBQvuCATgLEkzRnA%2Fapp%2FJwMxA7bcRbOXPccmkej-gg%2FHkU7oOj7TNe-hRteKrtlow.png">
                </div>
                <button onclick="closeModal()" class="closebtn">Close</button>
            </div>
        </div>
        <div class='modal' id="modalquiz">
            <div class="modal-content">
                <div style="display: flex; flex-direction: column;">

                <div>
                    <h2><a class="modal-link" href="https://quizizz.com/" target=”_blank”>Quizizz</a></h2>
                    <p>Quizizz allows for creating a variety of quizzes with possibility to customize them by adding videos, photos or setting time limit or difficulty level. It has features to create Instructor or students paced classes. The teacher can also view the analytics of each students’ progress.
                    </p>
                    <a class="modal-link-small" href="https://quizizz.com/" target=”_blank”>Quizizz - Link</a>
                </div>
                <img src="https://i.ytimg.com/vi/Y6MU3OdFgFA/maxresdefault.jpg">
                </div>
                <button onclick="closeModal()" class="closebtn">Close</button>
            </div>
        </div>
        <div class='modal' id="modalted">
            <div class="modal-content">
                <div>
                    <h2><a class="modal-link" href="https://ed.ted.com/" target=”_blank”>Ted-Ed</a></h2>
                    <p>TED-Ed is an educational platform that features a wide range of educational videos on various topics, including science, history, and literature. The platform offers animated and live-action videos that are designed to engage students and provide a fun and interactive way to learn. TED-Ed also features a variety of tools and resources, including quizzes, discussion questions, and suggested readings, to help teachers and students dive deeper into the topics covered in the videos. In addition to the pre-made videos, TED-Ed also offers a platform for teachers to create and share their own customised lessons based on the videos, making it a valuable resource for educators. 
                    </p>

                </div>
                <button onclick="closeModal()" class="closebtn">Close</button>
            </div>
        </div>
    </div>
</body>
<script src="{{url_for('static', filename='script/modals.js')}}"></script>
<script>

    var splide = new Splide( '.splide', {
        perPage: 3,
        rewind : true,
        padding: 20,
        gap: '20px',
        autoWidth: true,
        autoHeight: true,
    } );

    splide.mount();  
</script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.0/jquery.min.js"></script>
<script type=text/javascript>
        $(function() {
          $('a#example-tool').bind('click', function() {
            $.getJSON('/log_binary_quiz',
                function(data) {
              //do nothing
            });
        return false;
      });
    });
</script>
</html>