<!DOCTYPE html>
<html lang="EN">
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Storytelling | Digital Learning Techniques</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href='../static/css/tool.css'>
    <script src="
    https://cdn.jsdelivr.net/npm/@splidejs/splide@4.1.4/dist/js/splide.min.js
    "></script>
    <link href="
    https://cdn.jsdelivr.net/npm/@splidejs/splide@4.1.4/dist/css/splide.min.css
    " rel="stylesheet">    


</head>
<body>
    <div class="navbar-box">
        <div class="navbar-pages">
            <div><a href="/">Why Tools Work</a></div>
            <div><a href="../tools" style="text-decoration: underline;">Tools</a></div>
            <div><a href="../about">About Us</a></div>
        </div>
    </div>
    <div class="columns">
        <div class="text-content">
            <div><h1 class="header-innovative">Storytelling</h1></div>
            <p class="short-desc">Storytelling can help teachers convey information and connect with their students on a personal level. By using stories, complex topics can be made more relatable and understandable to students. Students can also create their own stories, which fosters creativity and imagination. They can help to improve communication and public speaking skills, as students learn to express themselves effectively and engage their audience..
                <br><br>
                These tools can help you or students to create their own stories, add illustrations, and share their work with others. 
                
            </p>
            
            
        </div>
        <div class="image1">
            <h3>Tools we recommend:</h3>

        </div>
        <div class="toolslider">
            <div class="splide" role="group" aria-label="Splide Basic HTML Example">
                <div class="splide__track">
                      <ul class="splide__list">
                          <li class="splide__slide">
                            <a id="example-tool" class="example-tool" onclick="openModal('cos')"><img alt="cheese" src="https://play-lh.googleusercontent.com/aN2kZU-TaRu0ZT5_XUnElDpmQg6YtjDsrE5DJqbu3W-KMiI9k19thatdQ-d6A5HcskA"></a>
                        </li>
                          <li class="splide__slide">
                            <a id="example-tool" class="example-tool" onclick="openModal('toon')"><img alt="cheese" src="https://toontastic.withgoogle.com/assets/img/favicon/android-chrome-512x512.png"></a>
                        </li>
                          <li class="splide__slide">
                            <a id="example-tool" class="example-tool" onclick="openModal('pup')"><img alt="cheese" src="https://is4-ssl.mzstatic.com/image/thumb/Purple122/v4/75/bb/e6/75bbe681-77ed-5f9c-8513-43716f03fcb2/source/256x256bb.jpg"></a>
                        </li>
                        
                      </ul>
                </div>
              </div>
            
        </div>
    </div>
    <div class="modals">
        <div class='modal' id="modalcos">
            <div class="modal-content">
                <div style="display: flex; flex-direction: column;">

                <div>
                    <h2><a class="modal-link" href="https://cospaces.io/" target=”_blank”>CoSpaces Edu</a></h2>
                    <p>CoSpaces Edu is an educational platform with a range of features for teachers and students. For example to design and create 3D and Virtual Reality (VR) content, learn coding, or manage a class. The creation toolbox, which enables the student to create their own scenes and constructions  that can be used among others for a storytelling activity. 
 
                    </p>
                    <a class="modal-link-small" href="https://cospaces.io/" target=”_blank”>CoSpaces Edu - Link</a>
                </div>
                <img src="https://www.filepicker.io/api/file/055IqtwQW6u1I6tenEQj">
                </div>
                <button onclick="closeModal()" class="closebtn">Close</button>
            </div>
        </div>
        <div class='modal' id="modaltoon">
            <div class="modal-content">
                <div style="display: flex; flex-direction: column;">

                <div>
                    <h2><a class="modal-link" href="https://toontastic.withgoogle.com/" target=”_blank”>Toontastic</a></h2>
                    <p>Toontastic is an app available on iOS and Android, developed by Google for children to create their own cartoons by creating animated characters, scenes, and dialogue. Users can select pre-made characters or create their own, then choose from a range of backgrounds and settings to create their story. Users can also record their own dialogue and sound effects, or choose from a library of pre-recorded audio options.

                    </p>
                    <a class="modal-link-small" href="https://toontastic.withgoogle.com/" target=”_blank”>Toontastic - Link</a>
                </div>
                <img src="https://i.ytimg.com/vi/uCZav2ftfdw/maxresdefault.jpg">
                </div>
                <button onclick="closeModal()" class="closebtn">Close</button>
            </div>
        </div>
        <div class='modal' id="modalpup">
            <div class="modal-content">
                <div style="display: flex; flex-direction: column;">

                <div>
                    <h2><a class="modal-link" href="https://apps.apple.com/nl/app/puppet-pals-hd/id342076546" target=”_blank”>Puppet Pals HD</a></h2>
                    <p>Puppet Pals HD is an app available on iOS devices for children to create their own cartoons. The user is able to choose from a range of backdrops, images, characters from Puppet Pals’ library or use their own pictures. To create a story, the child can animate them by moving the actors and add the voice recordings for dialogue . 
 
                    </p>
                    <a class="modal-link-small" href="https://apps.apple.com/nl/app/puppet-pals-hd/id342076546" target=”_blank”>Puppet Pals HD - Link</a>
                </div>
                <img src="https://is2-ssl.mzstatic.com/image/thumb/Purple115/v4/71/97/30/7197307c-2036-c6fd-351f-be3639e312bb/pr_source.jpg/1104x828bb.jpg">
                </div>
                <button onclick="closeModal()" class="closebtn">Close</button>
            </div>
        </div>
        <div class='modal' id="modalted">
            <div class="modal-content">
                <div>
                    <h2><a class="modal-link" href="https://ed.ted.com/" target=”_blank”>Ted-Ed</a></h2>
                    <p>TED-Ed is an educational platform that features a wide range of educational videos on various topics, including science, history, and literature. The platform offers animated and live-action videos that are designed to engage students and provide a fun and interactive way to learn. TED-Ed also features a variety of tools and resources, including quizzes, discussion questions, and suggested readings, to help teachers and students dive deeper into the topics covered in the videos. In addition to the pre-made videos, TED-Ed also offers a platform for teachers to create and share their own customised lessons based on the videos, making it a valuable resource for educators. 
                    </p>

                </div>
                <button onclick="closeModal()" class="closebtn">Close</button>
            </div>
        </div>
    </div>
</body>
<script src="{{url_for('static', filename='script/modals.js')}}"></script>
<script>

    var splide = new Splide( '.splide', {
        perPage: 3,
        rewind : true,
        padding: 20,
        gap: '20px',
        autoWidth: true,
        autoHeight: true,
    } );

    splide.mount();  
</script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.0/jquery.min.js"></script>
<script type=text/javascript>
        $(function() {
          $('a#example-tool').bind('click', function() {
            $.getJSON('/log_binary_story',
                function(data) {
              //do nothing
            });
        return false;
      });
    });
</script>
</html>