<!DOCTYPE html>
<html lang="EN">
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
    <title>Why This Works</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href='static/css/why.css'>
    <link type="text/css" rel="stylesheet" href="{{url_for('static', filename='css/SF-Pro-Text-Light.ttf')}}"/> 

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap" rel="stylesheet">
    <!-- <script src='main.js'></script> -->
</head>
<body>
    <div class="navbar-box">
        <div class="navbar-pages">
            <div><a href="/" style="text-decoration: underline;">Why Tools Work</a></div>
            <div><a href="tools">Tools</a></div>
            <div><a href="about">About Us</a></div>
    </div>
    </div>
    <div class="header-container">
        <div style="display: flex; flex-direction: row;">
        <div class="text-container">
            <h1 class="header-innovative">Why Tools Work</h1>
            <p class="short-desc">The integration of technology in the classroom brings forth numerous benefits and has the potential to greatly enhance the teaching and learning experience. Educators can create <span style="font-weight: bold;"> interactive, engaging </span>learning environments catering to diverse student needs. 
            </p>
            <div class='btnmain' >
                <a href="tools" >See the tools</a>
            </div>
        </div>
    </div>
    <div class="image-container">
        <img alt="Us and our project partner - Tim Murck" src="https://www.risevision.com/hs-fs/hubfs/Digital_technologies.jpg?width=730&name=Digital_technologies.jpg"/>
    </div>
       
    </div>
    <div class="content0">
        <p>
            Technology offers <span style="font-weight: bold;">personalised learning opportunities</span>, allowing students to learn at their own pace and explore areas of interest, thereby increasing motivation and engagement. It promotes active participation and knowledge retention. Additionally, collaborative platforms and communication tools enable students to collaborate on projects and share ideas, <span style="font-weight: bold;">fostering teamwork and essential social skills</span>. The integration of technology in the classroom holds great potential to transform traditional teaching practices and create student-centred, dynamic learning environments that better prepare students for the challenges of the information and technology-driven society.
        </p>
    </div>
    <div class="content">
        <h2>Benefits of implementing digital tools in the classroom:
        </h2>
        <div class="facts-container">
            <div class="fact">
                <h3>Audio and Video</h3>
                <p>makes abstract concepts easier to understand</p>
            </div>
            <div class="fact">

                <h3>2-way</h3>
                <p>communication between students and teachers</p>
            </div>
            <div class="fact">
                <h4>Allows time to be dedicated to students requiring additional support
                </h4>
                
            </div>
            <div class="fact">
                <p>Teaches students to 
                </p>
                <h3>“self-learn”</h3>
                <p>Encourages didactic learning</p>
            </div>
            <div class="fact">
                <p>Increases</p>
                <h3>efficiency and comprehensiveness</h3>
                <p> of subject matter learning
                </p>
            </div>
            <div class="fact">
                <p>Fosters enthusiasm and a</p>
                <h3> positive attitude 
                </h3>
                <p>towards learning
                </p>
            </div>
        </div>
    </div>
    <div class="content2">
        <h1 style="font-weight: 300; padding-left: 40px; padding-right: 40px;">"Teachers were the centre, while students were the silent, passive objects. This concept has changed today: students are the centre of the teaching and learning process."
        </h1>
        <p style="font-weight: 300; padding-right: 40px; text-align: end;">Hassel, B. C., & Hassel, E. A. (2011)</p>
    </div>
    <div class="content3">
        <h4 style="font-weight: 300;">In a study “Improving Teachers’ Professionalism through Materials Development, Information Technology, and Classroom Action Research.” (Sukarni et al., 2009), it was noticed that teachers’ collaboration on creating teaching materials leads to their increased confidence, enhanced level of competency, and willingness to improve professionally.
<br><br>
            In the materials that they made, use of methods such as gamification (matching pictures with the paragraphs, answering questions related to the texts, crossword puzzle) and story-telling (writing their own narrative text based on the steps and scaffold given and learnt) was met with positive feedback from students, saying that it is more understandable and fun.
            </h4>
    </div>
    <div class="content4">
        <h3>Want to learn more?</h3>
        <h5>Here are some resources:</h5>

        <div class="resource-container">
            <div>
                <p><a style='color:black; text-decoration: underline;' href="https://www.universiteitleiden.nl/en/education/about-our-education/innovative-teaching"target=”_blank”>Innovative Teaching - Leiden University</a></p>
            </div>
            <div>
                <p><a style='color:black; text-decoration: underline;' href="https://innovativeteachingideas.com/"target=”_blank”>Innovativeteachingideas.com - a collection of teaching resources similar to ours</a></p>
            </div>
            <div>
                <p><a style='color:black; text-decoration: underline;' href="https://op.europa.eu/en/publication-detail/-/publication/5b72e65c-8d75-11ed-999b-01aa75ed71a1"target=”_blank”>European Innovative Teaching Award - Winners 2022</a></p>
            </div>
            <div>
                <p>Essays, U. (2018). Teaching And Learning In The Digital Age Education Essay. Retrieved from https://www.ukessays. com/essays/education/teaching-and- learning-in-the-digital-age-education- essay.php?vref=1
                </p>
            </div>
            <div>
                <p>Hassel, B. C., & Hassel, E. A. (2011). Teachers in the Age of Digital Instruction (No. 1). Education Reform for the Digital Era. Washington, DC. Retrieved from http://edexcellencemedia.net/ publications/2012/20120425-education- reform-for-the-digital-era/20120425- Education-Reform-for-the-Digital-Era- FINAL-Chapter-1.pdf
                </p>
            </div>
            <div>
                <p>Sukarni, E. I., Winarni, D., & Nirmayanti, Y. T. (2009). Improving Teachers’ Professionalism through Materials Development, Information Technology, and Classroom Action Research. TEFLIN Journal, 20(2), 212–231. https://doi.org/ http://dx.doi.org/10.15639/teflinjournal. v20i2/212-231</p>
            </div>
            <div>
<p>The use of digital technologies in the classroom: A teaching and learning perspective [https://journals.sagepub.com/doi/pdf/10.1177/0273475311410845?casa_token=WMmb8aKNBmQAAAAA:lKofxsqx0PxVcNZ7x-fAZe4LqSyeVdiIhoP-QzioktKzXI3FVKtJSnJeXl6XkAfncL4UvKzMdTc]
</p>                </div>
            <div>
<p>https://www.edweek.org/teaching-learning/opinion-10-favorite-online-teaching-tools-used-by-educators-this-year/2020/11
</p>                </div>
            <div>
<p>https://www.fineshare.com/resource/online-teching-tools.html#:~:text=your%20remote%20class.-,1.,powerful%20free%20online%20teaching%20tools.
</p>                </div>
<div>
<p>https://myelearningworld.com/best-online-teaching-tools/?utm_content=cmp-true
</p></div>
<div>
<p>https://toptools4learning.com/
</p>
</div>
<div>
<p>https://www.teacheracademy.eu/blog/online-apps-tools-for-teaching/
</p></div>
        </div>
    </div>

    <div class="footer-box">
        <p><a href="https://uva.nl" target=”_blank” style="text-decoration: underline;">University of Amsterdam - Link</a></p>
    </div>
</body>
</html>
<!--<br><br>It is recognized that the level of the students' engagement in the classroom has a significant part of their education as it improves their academic performance. The research has shown that the teacher has influence on students' motivation through factors such as their teaching methods and content. An engaged teacher usually searches for new ideas, accommodates material to their students' needs, monitors their progress, etc. It is recommended that the educator uses an Engagement measurement/reflection tool.-->