<!DOCTYPE html>
<html lang="EN">
    <head>
        <meta charset='utf-8'>
        <meta http-equiv='X-UA-Compatible' content='IE=edge'>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
        <title>Cybertalk</title>
        <meta name='viewport' content='width=device-width, initial-scale=1'>
        <link rel='stylesheet' type='text/css' media='screen' href='static/css/index.css'>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link type="text/css" rel="stylesheet" href="{{url_for('static', filename='css/SF-Pro-Text-Light.ttf')}}"/> 

        <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap" rel="stylesheet">
    </head>
    <body>
        <div class="navbar-box">
            <div class="navbar-pages">
                <div><a href="/">Why Tools Work</a></div>
                <div><a href="tools" style="text-decoration: underline;">Tools</a></div>
                <div><a href="about">About Us</a></div>
                </div>
        </div>
        <div class="header-container">
            <div class="text-container">
                <h1 class="header-innovative">Digital Teaching Tools</h1>
                <p class="short-desc">Here are some helpful tools that will help you to add variety to your lessons and increase students’ engagement in the classroom. <a class="learnmore" href="why" class="short-desc">Learn more</a></p>
            </div>
            <div class="image-container">
                <img src="static/img/883_generated.png" alt="Digital Education image" />
            </div>
        </div>
        <div class="tools-grid">
            <a href="tools/gamify">
                <div class="toolbg tool0">
                    <p class="tooltitle">Gamification</p>
                </div>
            </a >
            <a href="tools/present">
                <div class="toolbg tool1">
                    <p class="tooltitle">Presentations</p>
                </div>
            </a >
            <a href="tools/av">
                <div class="toolbg tool2">
                    <p class="tooltitle">Audio and Video
                </div>
            </a >
            <a href="tools/story">
                <div class="toolbg tool3">
                    <p class="tooltitle">Storytelling
                </div>
            </a >
            <a href="tools/quiz">
                <div class="toolbg tool5">
                    <p class="tooltitle">Quizzes and Polling
                </div>
            </a >
            <a href="tools/collab">
                <div class="toolbg tool6">
                    <p class="tooltitle">Collaboration
                </div>
            </a >
        </div>
        <div class="footer-box">
            <p><a href="https://uva.nl" style="text-decoration: underline;">University of Amsterdam - Link</a></p>
        </div>
    </body>
</html>